<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title -Auto Voiture</title>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />

    <link href="~/Content/Site.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/modernizr")

    <style>
        /*search box css start here*/
.search-sec{
    padding: 2rem;
}
.search-slt{
    display: block;
    width: 100%;
    font-size: 0.875rem;
    line-height: 1.5;
    color: #55595c;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    height: calc(3rem + 2px) !important;
    border-radius:0;
}
.wrn-btn{
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
    height: calc(3rem + 2px) !important;
    border-radius:0;
}


    </style>

</head>
<body>

    <div class="body-content" style="margin-top:80px">
        <div class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Votre auto", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink(WebApplication4.Resources.Views.Shared._Layout.propos, "About", "Home")</li>
                        <li>@Html.ActionLink(WebApplication4.Resources.Views.Shared._Layout.contact, "Contact", "Home")</li>
                        @Html.Partial("../Lang/Index")
                    </ul>

                </div>
            </div>
        </div>
        @RenderBody()

    </div>
    <footer style="padding: 50px;background-color: #6a6e82;color: #fff;margin-top:30px" class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4 text-center">
            <p>&copy; @DateTime.Now.Year - Votre auto</p>
            @Html.ActionLink("En", "Change", "Lang", new { languageAbreviation = "en" }, new { @class = "btn btn-danger" })
            @Html.ActionLink("Fr", "Change", "Lang", new { languageAbreviation = "fr" }, new { @class = "btn btn-success" })
            @Html.ActionLink("Ar", "Change", "Lang", new { languageAbreviation = "ar" }, new { @class = "btn btn-info" })
        </div>
        
    </footer>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
